{% extends "base.html" %} 
{% load attendance_extras %}
{% block content %}
<blockquote class='blockqoute'>
<h1 class='text-center'><small class="display text-muted">Attendance Record of Month</small> {{month}}</h1>
</blockquote>
<h6>Total Users: {{users_count}}</h6>
<form class="d-flex justify-content-end" action="" method="get">
{{form.as_p}}
<button class="mt-4 mx-1 btn btn-primary" style="width: 134.5px;height: 33.25px;" type="Submit"><i class="fas fa-duotone fa-magnifying-glass mx-1"></i>See Records</button>

</form>
<div class="table-responsive">
<table  class="table table-hover table-light table-bordered">
  <thead>
    <tr>
      <th scope="col">Employee Name</th>
      {% for date in days_list %}
      <th scope="col" class ='text-center' style="min-width:200px;max-width:300px;" name="{{date|date:'d-m-Y'}}">
        {{date|date:'d/m/Y'}}
      </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <th  class ='text-center text-capitalize' name="{{user}}" scope="row"><a href="{% url 'User-Attendance' user.id %}">{{user}}</a></th>
      {% for date in days_list  %}
        
        <td >{{ user|gmd:date|linebreaks }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

</div>
{% endblock content %}  