{% load static %}
<div class="container shadow-lg mt-2 shadow-lg">
    <H1 class='mt-2'><small class='text-muted'>Welcome to the</small> Attendance Portal</H1>
    <div class='d-flex flex-column flex-lg-row justify-content-between '>

        <video  class='w-50 h-30 animate__animated animate__fadeIn' autoplay muted>
            <source type="video/mp4" src="{% static 'videos/Confirmed_attendance.mp4' %}">
        </video>
        <div class="d-flex flex-column">
            <p class="animate__animated animate__fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Quibusdam quia hic perspiciatis adipisci excepturi voluptatum? Quidem molestiae reprehenderit quas tempore aut perspiciatis sed alias, ipsa voluptatem praesentium magni aperiam pariatur maxime alias a. Architecto blanditiis commodi praesentium nobis esse, delectus quibusdam nostrum quasi quae corrupti hic molestiae accusantium unde. Fugiat accusamus beatae quam pariatur, delectus ad quia labore.</p>

            <div class='d-flex justify-content-center animate__animated animate__fadeIn'>
            <a class="shadow-lg text-center btn btn-success mb-2 mx-2 w-50 animate__animated animate__pulse animate__infinite " href="{% url 'Attendance'  %}">Attendance</a>
            <a class="shadow-lg text-center btn btn-warning mb-2 mx-2 w-50" href="{% url 'Users'  %}">Users</a>
        </div>

        </div>
    </div>

</div>