{% extends "base.html" %} 
{% load attendance_extras %}
{% block content %}
<blockquote class='blockqoute'>
<h1 class='text-center'><small class="display text-muted">Attendance Record of Month</small> {{month}}</h1>
<h5>User : <kbd class='text-capitalize'>{{user}}</kbd></h5>
</blockquote>
<div class="d-flex justify-content-between">
<button class="btn btn-dark mt-4 mx-1" style="width: 124.5px;height: 33.25px;" onclick="history.back()"><i class="fas fa-regular fa-circle-chevron-left"></i> Back</button>


<form class="d-flex justify-content-end" action="" method="get">
{{form.as_p}}
<button class="mt-4 mx-1 btn btn-primary" style="width: 134.5px;height: 33.25px;" type="Submit"><i class="fas fa-duotone fa-magnifying-glass mx-1"></i>See Records</button>
</form>
</div>
<div class="table-responsive">
<table  class="table table-hover table-light table-striped table-bordered">
  <thead>
    <tr>
      {% for date in days_list %}
      <th scope="col" class ='text-center' name="{{date|date:'d-m-Y'}}">
        {{date|date:'d/m/Y'}}
      </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    <tr>
      {% for date in days_list  %}
        <td class='text-center' >{{ user|gmd:date|linebreaks }}</td>
      {% endfor %}
    </tr>
  </tbody>
</table>

</div>
{% endblock content %} 
